/*common code start*/
*{
	box-sizing: border-box;
} 

body{
	margin: 0px;
}
.container{
	width: 90%;
	margin: 0px auto;
	border: 1px solid tomato;
}

/*common code start*/

/*nav code start*/
nav{
	background: #fff;
}
.nav-inner{
	clear: both;
	overflow: hidden;
}
.nav-inner .logo{
	
	height: 100%;
	float: left;
	
	
}
.nav-inner .logo a fa-cat{
	color: #000000;
}
.nav-inner .logo a{
	font-family: Nunito, sans-serif;
	font-size: 50px;
	padding: 10px 0px;
	letter-spacing: 0px;
	display: inline-block;
	color: #17a2b8;
	text-decoration: none;
	font-weight: 720;
}

/*logo end*/

.nav-inner .navbar{
	width: 60%;
	height: 100%;
	float: left;
}

.nav-inner .navbar ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.nav-inner .navbar ul li{
	list-style: none;
	display: inline-block;
}
	
.nav-inner .navbar ul li a{
	text-decoration: none;
	color: #212145;
	font-family: Nunito, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	margin: 0px 5px;
	transition: .5 all;
	margin: 0px 5px;
	display: inline-block;

	padding: 32px 10px;
}
.nav-inner .navbar ul li a.active{
	color: #0A82ED;
}
.nav-inner .navbar ul li a:hover{
	color: #17A2B8;
}
/* Joining Button Start*/
.nav-inner .join-class{
	
	height: 100%;
	float: left;
	padding: 20px 0px;
}

 .nav-inner .join-class a{
	text-decoration: none;
	color: #fff;
	font-family: Nunito, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	transition: .5 all;
	margin: 5px 0px;
	display: inline-block;
	background: #0590B5;
	
	border-radius: 30px;
	padding: 5px 15px;
	text-align: right;
}
.nav-inner .navbar ul li a.active{
	color: #0A82ED;
}
.nav-inner .navbar ul li a:hover{
	color: #17A2B8;
}
/* Joining Button end*/

/*nav code end*/

/*header part start*/
header{
	background: #17A2B8;
}
.header-inner{
	clear: both;
	overflow: hidden;
}
.header-content{
	float: left;
	width: 50%;
	padding: 130px 0px;
}
.header-content h2{
	font-family: "Handlee", cursive;
	font-size: 24px;
	line-height: 29px;
	color: #393A4C;
	font-weight: 700;
	margin: 0px;
}

.header-content h1{
	font-family: "Handlee", cursive;
	font-size: 72px;
	line-height: 86px;
	color: #393A4C;
	font-weight: 600;
	margin: 20px 0px;
}	

.header-content p{
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: .4px;
	color: #393A4C;
	font-weight: 400;
	margin: 0px 0px 50px 0px
}

.header-content a{
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	font-weight: 400;
	background: #126B7E;
	padding: 10px;
	text-decoration: none;
	padding: 16px 48px;
	margin: 4px 0px;
	border-radius: 30px;
	transition: .5s all;
	display: inline-block;
}

.header-content a:hover{
	background: #001D29;
}

.header-poster{
	float: right;
	width: 50%;
	padding: 50px 0px 0px 0px;
}
.header-poster img{
	width: 100%;
	height: 100%;
	display: block;
}
/*header end*/

/*feature start*/
.feature-section{
	padding: 40px 0px;
}


.feature-inner{
	clear: both;
	overflow: hidden;
}

.feature-block{
	float: left;
	height: 100%;
	clear: both;
	overflow: hidden;
}
.feature-block .feature-block-content{
	float: left;
	height: 100%;
}

.feature-block .feature-block-icons{
	float: left;
	height: 100%;
	
}
/*feature end*/
